/* iconfont in Unicode */
@font-face {
    font-family: 'iconfont';  /* Project id 2612991 */
    src: url('//at.alicdn.com/t/font_2612991_7ao1vxw9bkk.eot?t=1623929746020'); /* IE9 */
    src: url('//at.alicdn.com/t/font_2612991_7ao1vxw9bkk.eot?t=1623929746020#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//at.alicdn.com/t/font_2612991_7ao1vxw9bkk.woff2?t=1623929746020') format('woff2'),
         url('//at.alicdn.com/t/font_2612991_7ao1vxw9bkk.woff?t=1623929746020') format('woff'),
         url('//at.alicdn.com/t/font_2612991_7ao1vxw9bkk.ttf?t=1623929746020') format('truetype'),
         url('//at.alicdn.com/t/font_2612991_7ao1vxw9bkk.svg?t=1623929746020#iconfont') format('svg');
  }

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}