/* iconfont in Unicode */
@font-face {
    font-family: 'iconfont';  /* Project id 2612991 */
    src: url('//at.alicdn.com/t/font_2612991_m02ycpe03kp.eot?t=1624135964369'); /* IE9 */
    src: url('//at.alicdn.com/t/font_2612991_m02ycpe03kp.eot?t=1624135964369#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('//at.alicdn.com/t/font_2612991_m02ycpe03kp.woff2?t=1624135964369') format('woff2'),
         url('//at.alicdn.com/t/font_2612991_m02ycpe03kp.woff?t=1624135964369') format('woff'),
         url('//at.alicdn.com/t/font_2612991_m02ycpe03kp.ttf?t=1624135964369') format('truetype'),
         url('//at.alicdn.com/t/font_2612991_m02ycpe03kp.svg?t=1624135964369#iconfont') format('svg');
  }

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}